<%= content_for :head do %>
<link rel="stylesheet" href="assets/conjuring.scss">
<script type="text/javascript" src="assets/conjuring.js"></script>
	<meta property="og:description"   content="Let's be creepy.. using javascript"/>
	<meta property="og:image"         content="http://www.appjunk.com/assets/conjuringimage.png"/>
	<meta property="og:url"           content="http://www.appjunk.com/conjuring"/>
<% end %>
<section class="container">
Your score is: <span id="location">0</span>
<a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://www.appjunk.com/conjuring&p[images][0]=&p[title]=Conjuring&p[summary]=Let's be creepy.. using javascript" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false" style="float:right;padding-right:5px"><button type="button" class="btn btn-facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Share on Facebook</button></a>
</section>
<div id="conjuring1"></div>
<div id="conjuring2"></div>
<div id="conjuring3"></div>
<div id="conjuring4"></div>
<div id="conjuring5"></div>
<div id="conjuring6"></div>
<div id="conjuring7"></div>
<div id="conjuring8"></div>
<div id="conjuring9"></div>
<div id="conjuring10"></div>
</body>