<% content_for :head do %>
  <link href="/assets/currency_converter.scss" rel="stylesheet" type="text/css">
  <script type="text/javascript" src='/assets/money.min.js'></script>
  <meta property="og:description"   content="Let's convert some currencies"/>
	<meta property="og:image"         content="http://www.appjunk.com/assets/currencyconverterimage.PNG"/>
	<meta property="og:url"           content="http://www.appjunk.com/currency_converter"/>
  <script>
  $(document).ready(function(){
  	$('#app').html("currency");
  	$('#junk').html(" converter");
  	$('#submit').click(function(){
$.getJSON("https://openexchangerates.org/api/latest.json?app_id=ec7d1ceafaca4a6aa7a077c045db2bfc",demo)	
})
  })
  var demo = function(data) {
  fx.rates = data.rates
  var selectfrom = $('#selectfrom').val();
  var selectto = $('#selectto').val();
  var quantity = $('#quantity').val();
  var rate = fx(quantity).from(selectfrom).to(selectto)
  $('#result').html(quantity+" "+selectfrom+" = "+ rate.toFixed(4)+" "+selectto)
}


  </script>
<% end %>
<section class="container">
	<div class="col-sm-12 hidden-xs" style="height:100px">
	</div>
	<div class="col-sm-4">
		<input type="number" id="quantity" min="0" max="10000000" class="form-control" value="1">
	</div>
	<div class="col-sm-4">
		<select id="selectfrom" class="form-control">
			<option value="AED">United Arab Emirates Dirham</option>
			<option value="AFN">Afghan Afghani</option>
			<option value="ARS">Argentine Peso</option>
			<option value="AUD">Australian Dollar</option>
			<option value="BAM">Bosnia-Herzegovina Convertible Mark</option>
			<option value="BDT">Bangladeshi Taka</option>
			<option value="BGN">Bulgarian Lev</option>
			<option value="BHD">Bahraini Dinar</option>
			<option value="BRL">Brazilian Real</option>
			<option value="BTC">Bitcoin</option>
			<option value="CAD">Canadian Dollar</option>
			<option value="CHF">Swiss Franc</option>
			<option value="CNY">Chinese Yuan</option>
			<option value="COP">Colombian Peso</option>
			<option value="CRC">Costa Rican Col贸n</option>
			<option value="CUC">Cuban Convertible Peso</option>
			<option value="CZK">Czech Republic Koruna</option>
			<option value="DOP">Dominican Peso</option>
			<option value="EGP">Egyptian Pound</option>
			<option value="EUR">Euro</option>
			<option value="GBP">British Pound Sterling</option>
			<option value="HKD">Hong Kong Dollar</option>
			<option value="ILS">Israeli New Sheqel</option>
			<option value="INR">Indian Rupee</option>
			<option value="IQD">Iraqi Dinar</option>
			<option value="IRR">Iranian Rial</option>
			<option value="ISK">Icelandic Kr贸na</option>
			<option value="JMD">Jamaican Dollar</option>
			<option value="JPY">Japanese Yen</option>
			<option value="KES">Kenyan Shilling</option>
			<option value="KPW">North Korean Won</option>
			<option value="KRW">South Korean Won</option>
			<option value="KWD">Kuwaiti Dinar</option>
			<option value="KZT">Kazakhstani Tenge</option>
			<option value="LBP">Lebanese Pound</option>
			<option value="LYD">Libyan Dinar</option>
			<option value="MAD">Moroccan Dirham</option>
			<option value="MDL">Moldovan Leu</option>
			<option value="MVR">Maldivian Rufiyaa</option>
			<option value="MXN">Mexican Peso</option>
			<option value="MYR">Malaysian Ringgit</option>
			<option value="NGN">Nigerian Naira</option>
			<option value="NZD">New Zealand Dollar</option>
			<option value="OMR">Omani Rial</option>
			<option value="PHP">Philippine Peso</option>
			<option value="PKR">Pakistani Rupee</option>
			<option value="QAR">Qatari Rial</option>
			<option value="RUB">Russian Ruble</option>
			<option value="SAR">Saudi Riyal</option>
			<option value="SDG">Sudanese Pound</option>
			<option value="SEK">Swedish Krona</option>
			<option value="SGD">Singapore Dollar</option>
			<option value="SHP">Saint Helena Pound</option>
			<option value="SYP">Syrian Pound</option>
			<option value="THB">Thai Baht</option>
			<option value="TJS">Tajikistani Somoni</option>
			<option value="TND">Tunisian Dinar</option>
			<option value="TRY">Turkish Lira</option>
			<option value="UAH">Ukrainian Hryvnia</option>
			<option value="USD" selected="selected">United States Dollar</option>
			<option value="XAG">Silver (troy ounce)</option>
			<option value="XAU">Gold (troy ounce)</option>
			<option value="XPD">Palladium Ounce</option>
			<option value="XPT">Platinum Ounce</option>
			<option value="YER">Yemeni Rial</option>
			<option value="ZMW">Zambian Kwacha</option>
		</select>
		<select id="selectto" class="form-control">
			<option value="AED">United Arab Emirates Dirham</option>
			<option value="AFN">Afghan Afghani</option>
			<option value="ARS">Argentine Peso</option>
			<option value="AUD">Australian Dollar</option>
			<option value="BAM">Bosnia-Herzegovina Convertible Mark</option>
			<option value="BDT">Bangladeshi Taka</option>
			<option value="BGN">Bulgarian Lev</option>
			<option value="BHD">Bahraini Dinar</option>
			<option value="BRL">Brazilian Real</option>
			<option value="BTC">Bitcoin</option>
			<option value="CAD">Canadian Dollar</option>
			<option value="CHF">Swiss Franc</option>
			<option value="CNY">Chinese Yuan</option>
			<option value="COP">Colombian Peso</option>
			<option value="CRC">Costa Rican Col贸n</option>
			<option value="CUC">Cuban Convertible Peso</option>
			<option value="CZK">Czech Republic Koruna</option>
			<option value="DOP">Dominican Peso</option>
			<option value="EGP" selected="selected">Egyptian Pound</option>
			<option value="EUR">Euro</option>
			<option value="GBP">British Pound Sterling</option>
			<option value="HKD">Hong Kong Dollar</option>
			<option value="ILS">Israeli New Sheqel</option>
			<option value="INR">Indian Rupee</option>
			<option value="IQD">Iraqi Dinar</option>
			<option value="IRR">Iranian Rial</option>
			<option value="ISK">Icelandic Kr贸na</option>
			<option value="JMD">Jamaican Dollar</option>
			<option value="JPY">Japanese Yen</option>
			<option value="KES">Kenyan Shilling</option>
			<option value="KPW">North Korean Won</option>
			<option value="KRW">South Korean Won</option>
			<option value="KWD">Kuwaiti Dinar</option>
			<option value="KZT">Kazakhstani Tenge</option>
			<option value="LBP">Lebanese Pound</option>
			<option value="LYD">Libyan Dinar</option>
			<option value="MAD">Moroccan Dirham</option>
			<option value="MDL">Moldovan Leu</option>
			<option value="MVR">Maldivian Rufiyaa</option>
			<option value="MXN">Mexican Peso</option>
			<option value="MYR">Malaysian Ringgit</option>
			<option value="NGN">Nigerian Naira</option>
			<option value="NZD">New Zealand Dollar</option>
			<option value="OMR">Omani Rial</option>
			<option value="PHP">Philippine Peso</option>
			<option value="PKR">Pakistani Rupee</option>
			<option value="QAR">Qatari Rial</option>
			<option value="RUB">Russian Ruble</option>
			<option value="SAR">Saudi Riyal</option>
			<option value="SDG">Sudanese Pound</option>
			<option value="SEK">Swedish Krona</option>
			<option value="SGD">Singapore Dollar</option>
			<option value="SHP">Saint Helena Pound</option>
			<option value="SYP">Syrian Pound</option>
			<option value="THB">Thai Baht</option>
			<option value="TJS">Tajikistani Somoni</option>
			<option value="TND">Tunisian Dinar</option>
			<option value="TRY">Turkish Lira</option>
			<option value="UAH">Ukrainian Hryvnia</option>
			<option value="USD">United States Dollar</option>
			<option value="XAG">Silver (troy ounce)</option>
			<option value="XAU">Gold (troy ounce)</option>
			<option value="XPD">Palladium Ounce</option>
			<option value="XPT">Platinum Ounce</option>
			<option value="YER">Yemeni Rial</option>
			<option value="ZMW">Zambian Kwacha</option>
		</select>
		<button id="submit" class="btn btn-primary convertbutton">Convert</button>
	</div>
	<div class="col-sm-4">
		<div id="result"></div>
	</div>
</section>