<% content_for :head do %>
	<link href="/assets/garagak.scss" rel="stylesheet" >
	<script type="text/javascript" src='/assets/garagak.js'></script>
<% end %>
<section class="jumbotron introcontainer">
<span id="app">garag</span><span id="junk">ak</span><span class="intro"> is an enhanced edition of car selling websites (like contactcars.com and olx.com)<br>Made to make things easier for both the seller and the buyer to make the perfect deal.</span>
</section>
<section class="container">

<div class="col-sm-6 choosepanel"><div class="sellcontainer"><i class="fa fa-car" aria-hidden="true"></i>Sell a car</div>
</div>

<div class="col-sm-6 choosepanel"><div class="buycontainer"><i class="fa fa-money" aria-hidden="true"></i>Buy a car</div>
</div>

</section>