<%= content_for :head do %>
<link rel="stylesheet" href="assets/celebration.scss">
<script type="text/javascript" src="assets/celebration.js"></script>
	<meta property="og:description"   content="Let's be creepy.. using javascript"/>
	<meta property="og:url"           content="http://www.appjunk.com/celebration"/>
<% end %>
<div id="balloon1"></div>
<div id="balloon2"></div>
<div id="balloon3"></div>
<div id="balloon4"></div>
<div id="balloon5"></div>
<div id="balloon6"></div>
<div id="balloon7"></div>
<div id="balloon8"></div>
<div id="balloon9"></div>
<div id="balloon10"></div>

<h2 id="colorful" style="width:100%;text-align: center;font-weight:bold;margin-top:200px">The 31 websites are over.. And 2016 is over too! let's effin' celebrate!</h2>