<% content_for :head do %>
	<link href="/assets/garagak.scss" rel="stylesheet" >
	<script type="text/javascript" src='/assets/secrets.js'></script>
	<meta property="og:description"   content="Write a secret to get a secret"/>
	<meta property="og:image"         content="http://www.appjunk.com/assets/secretsimage.PNG"/>
	<meta property="og:url"           content="http://www.appjunk.com/secrets"/>
<% end %>
<section class="jumbotron" style="background-color: white;text-align: center;font-weight: bold;font-size: 150%;text-shadow: 0.25px 0.25px 0.25px #000000;">
Write a secret to get a secret
	- No one will know who wrote what so don't worry سرك فى بير
</section>
<section>
	<div class="col-sm-12" style="height:30px;text-align: center;">
		<div class="alertbox" style="display:none;color:red;font-weight: bold;"></div>
	</div>
</section>

<section class="container">
		<%= form_for([@user, @secret]) do |f| %>
	<div class="col-sm-12">
		<%= f.text_area :content, :maxlength => "1500", :minlength=> "8",style: "width:100%;height:100px;font-family:tahoma;",class: 'form-control',required: true, placeholder: "Write your secret here" %>
	</div>
		<% end %>
</section>
<section>
	<div class="col-sm-12" style="text-align: center;padding:20px;">
		<button class='btn btn-primary btn-lg hefzbutton'> Submit </button>
		<% if user_signed_in? && current_user.admin == true %>
			<a href='/secrets/all'><button class='btn btn-primary btn-lg'> Hello mr. admin </button></a>
		<% end %>
	</div>
</section>

<section>
	<div class="col-sm-12" style="padding:20px;height:30px;text-align: center;">
		<div id="thesecret" style="font-size:200%;color:#006bb3;font-weight: bold;"></div>
	</div>
</section>
