
#conjuring1,#conjuring2,#conjuring3,#conjuring4,#conjuring5,#conjuring6,#conjuring7,#conjuring8,#conjuring9,#conjuring10 {
  position: absolute;
background-image: url('/assets/ballon.png');
background-size: 70%;
width: 200px;
height: 350px;

}
html {height: 101%;width:101%;}
h2{
	text-shadow: 0.25px 0.25px 0.25px ;
}