body{
  background:black;
  color:white;
}
#conjuring1,#conjuring2,#conjuring3,#conjuring4,#conjuring5,#conjuring6,#conjuring7,#conjuring8,#conjuring9,#conjuring10 {
  position: absolute;
background-image: url('/assets/Untitled_burned (1).png');
background-size: 100%;
width: 200px;
height: 250px;

}
#junk{
	color:white;
}
html {height: 101%;}