#junk{
	color:green;
}

#input{
	background: black;
	color: white;
	max-height: 500px;
}

#output{
	background-color: white;
	color: black;
	border: 1px solid white;
	height: 500px;

}
#zorar {
	width:100px;
	height:50px;
	color: black;
	margin-top: 10px;
}
body {
	background: black;
	color: white;
}
#automatic{
	height: 20px;
	width: 20px;
	margin-top: 20px;
}
#buttons {
	color: white;
}