body{
	background-color: #eeeeee;
}
.sellcontainer,.buycontainer{
	background-color: #006bb3;
	padding-top:100px;
	padding-bottom:100px;
	border-radius: 10px;
	cursor:pointer;
	display:flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 10px;
	color:white;
	font-size: 250%;
}
.introcontainer{
	margin-bottom: 10px;
	font-size:150%;
	padding-top: 30px;
	padding-bottom:50px;
	padding-left:30px;
	background-color: white;
}
.intro{	
	text-shadow: 0.25px 0.25px 0.25px #000000;
}
.hefzbutton{
	width:250px;
}
.phonearea{
	width:200px;
}
.formcontainer{
	background-color: white;
	padding-top:20px;
}
.selltitle,.buytitle{
	font-weight: bold;
	padding:10px;
	font-size: 150%;
}
.activetitle{
	background-color: white;
}
.selltitle{
	border-radius: 5px 0px 0px 0px;
}
.inactivetitle{
	background-color: #006bb3;
	cursor:pointer;

}
.buytitle{
	border-radius: 0px 5px 0px 0px;
}
.form-control-sm{
	height:28px;
	font-size: 88%;
}
#viewmore,#viewless{
	text-align: right;
	font-weight:bold;
	cursor:pointer;
}
#themore{
	display:none;
}
.sora{
	width:100px;
}
.modeltitles{
	display:inline-block;
}
.modeltitles p{
	margin:0px;
}
.pricecontainer{
	float:right;
	margin-top:8%;
	font-weight:bold;
	color:red;
	font-size:140%;
}
.photo_one{
	width:100%;
	border-radius: 1px;
	margin-bottom:10px;
}