#example1 {
	width:100%;
	height: 100px;
}
#showMessage {
	word-wrap:break-word;
	background: #e6e6e6;
	border-radius: 5px;
	padding-top:15px;
	margin-bottom:0px;
}
#messageUser {
	margin-bottom: 10px;
}
hr {
	margin:5px;
}
#complaintuserLogo{
  height:45px;
  width:45px;
    max-width: 50px;
  //border-radius: 5px;
 }
 .facetw {
	width:80px;
}
.upArrow {
    //border: 1px solid black;
    background-image: url(/assets/comment-sprite.png);
    background-position: 0px 0px;
    width: 22px;
    margin-right:5px;
    cursor: pointer;
  }
  .downArrow {
    //border: 1px solid black;
    background-image: url(/assets/comment-sprite.png);
    background-position: -20px 0px;
    height: 20px;
    width: 22px;
    cursor: pointer;
  }
  .commentarea{
  	width:100%;
  	margin-bottom:5px;
  }
  .commentbutton{
  	margin-bottom:10px;
  }