<section id="newPanel">
	<div class="col-sm-12" style="background-color: white;border-radius: 5px; margin-bottom: 10px;padding-top:10px;text-align: center;height:50px">
	You can't see <%=@user.display_name%>'s <%=@things%>.. cause you know.. you're not friends with him
</div>

</section>