<% content_for :head do %>
	<link href="/assets/tweetamela5er.scss" rel="stylesheet" >
	<script type="text/javascript" src='/assets/tweetamela5er.js'></script>
	<link rel="stylesheet" href="/assets/bootstrap-social.css">
<% end %>
<section class="container" style="text-align: center">
<button class="btn btn-primary" id="approvedpage">ارجع تانى لصفحة الناس العاديين</button>
</section>
<%= render partial: "show_tweetamela5ers" %>